era:
  Run3_2022:
    model_path: "/vols/cms/ia2318/REAL/outputs/best_models/Run3_2022/{tau}/{global_tag}bkg_sub/best_model.pkl"
    data_iso_path: "/vols/cms/ia2318/REAL/data/Run3_2022/processed/data_all_events_Run3_2022_data_iso_{tau}.root"
    data_aiso_path: "/vols/cms/ia2318/REAL/data/Run3_2022/processed/data_all_events_Run3_2022_data_aiso_{tau}.root"
    mc_iso_path: "/vols/cms/ia2318/REAL/data/Run3_2022/processed/mc_all_events_Run3_2022_mc_iso_{tau}.root"
    mc_aiso_path: "/vols/cms/ia2318/REAL/data/Run3_2022/processed/mc_all_events_Run3_2022_mc_aiso_{tau}.root"
    output_dir: "/vols/cms/ia2318/REAL/outputs/plots/Run3_2022/{tau}/{global_tag}bkg_sub"

features:
  global: 
    - 'n_jets'
    - 'n_bjets'
    - 'met_var_qcd_{tau_suffix}'
  no_global: 
    - 'decayMode_{tau_suffix}'
    - 'jpt_pt_{tau_suffix}'
    - 'pt_{tau_suffix}'
    - 'eta_{tau_suffix}'
    - 'charge_{tau_suffix}'
    - 'phi_{tau_suffix}'
    - 'decayModePNet_{tau_suffix}'
  plot:
    - 'decayMode_1'
    - 'decayMode_2'
    - 'jpt_pt_1'
    - 'jpt_pt_2'
    - 'pt_1'
    - 'pt_2'
    - 'pt_tt'
    - 'eta_1'
    - 'eta_2'
    - 'charge_1'
    - 'charge_2'
    - 'phi_1'
    - 'phi_2'
    - 'dR'
    - 'n_jets'
    - 'n_bjets'
    - 'm_vis'
    - 'mt_tot'
    - 'met_pt'
    - 'met_phi'
    - 'met_dphi_1'
    - 'met_dphi_2'
    - 'met_var_qcd_1'
    - 'met_var_qcd_2'
    - 'decayModePNet_1'
    - 'decayModePNet_2'

plot_params:
  bins:
    'decayMode_1': 12  # Discrete bins: 0, 1, 10, 11
    'decayMode_2': 12  # Discrete bins: 0, 1, 10, 11
    'jpt_pt_1': 15
    'jpt_pt_2': 15
    'pt_1': 100
    'pt_2': 100
    'pt_tt': 100
    'eta_1': 30
    'eta_2': 30
    'phi_1': 30
    'phi_2': 30
    'dR': 30
    'charge_1': 4
    'charge_2': 4
    'n_jets': 10
    'n_bjets': 4
    'm_vis': 100
    'mt_tot': 100
    'met_pt': 40
    'met_phi': 30
    'met_dphi_1': 30
    'met_dphi_2': 30
    'met_var_qcd_1': 50
    'met_var_qcd_2': 50
    'decayModePNet_1': 12  # Discrete bins: 0, 1, 2, 10, 11
    'decayModePNet_2': 12  # Discrete bins: 0, 1, 2, 10, 11

  ranges:
    'decayMode_1': [0, 12]
    'decayMode_2': [0, 12]
    'jpt_pt_1': [0, 15]
    'jpt_pt_2': [0, 15]
    'pt_1': [35, 800]
    'pt_2': [35, 800]
    'pt_tt': [0, 800]
    'eta_1': [-3, 3]
    'eta_2': [-3, 3]
    'phi_1': [-3.2, 3.2]
    'phi_2': [-3.2, 3.2]
    'dR': [0, 6]
    'charge_1': [-2, 2]
    'charge_2': [-2, 2]
    'n_jets': [0, 10]
    'n_bjets': [0, 4]
    'm_vis': [0, 200]
    'mt_tot': [0, 200]
    'met_pt': [0, 200]
    'met_phi': [-3.2, 3.2]
    'met_dphi_1': [-3.2, 3.2]
    'met_dphi_2': [-3.2, 3.2]
    'met_var_qcd_1': [-10, 10]
    'met_var_qcd_2': [-10, 10]
    'decayModePNet_1': [0, 12]
    'decayModePNet_2': [0, 12]
  
  discrete_bins:
    'charge_1': [-2, -1, 0, 1, 2]
    'charge_2': [-2, -1, 0, 1, 2]
    'decayMode_1': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
    'decayMode_2': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
    'decayModePNet_1': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
    'decayModePNet_2': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

optimal_temperature:
  leading_tau: 
    global_variables: 0.9980200556285487
    no_global_variables: 1.004161912105512
  subleading_tau:
    global_variables: 1.0004100731600163
    no_global_variables: 0.9993226203098047
