input_folder: "/vols/cms/ia2318/REAL/data_production_071025/{era}/{channel}_QCD/"
input_files:
  mc: "mc_all_events_{era}.parquet"
  data: "data_all_events_{era}.parquet"
output_dir: "/vols/cms/ia2318/REAL/data_production_071025/{era}/{region}_region/QCD/"

categories:
  determination:
    tt_baseline: "(os == 0) & (idDeepTau2018v2p5VSjet_{tau_other_index} > 4) & (idDeepTau2018v2p5VSe_1 >= 2) & (idDeepTau2018v2p5VSe_2 >= 2) & (idDeepTau2018v2p5VSmu_1 >= 1) & (idDeepTau2018v2p5VSmu_2 >= 1) & (((trg_doubletau) & (pt_1 > 40) & (pt_2 > 40)) | ((trg_doubletauandjet) & (pt_1 > 35) & (pt_2 > 35) & (pt_1 <190) & (pt_2 < 190) & (jpt_1 > 60)) | ((trg_singletau) & (pt_1 > 190)) | ((trg_singletau_2) & (pt_2 > 190)))"
    mt_baseline: "(os == 0) & (mt_1 < 50) & (iso_1 < 0.15) & (iso_1 > 0.05) & (idDeepTau2018v2p5VSe_2 >= 2) & (idDeepTau2018v2p5VSmu_2 >= 4) & ((((trg_mt_cross) & (pt_1 > 21) & (pt_1 <= 26) & (abs(eta_1) < 2.1) & (pt_2 > 32) & (abs(eta_2) < 2.1)) | ((trg_singlemuon) & (pt_1 > 26) & (abs(eta_1) < 2.4))) | ((trg_singletau) & (pt_2 > 190)))"
    et_baseline: "(os == 0) & (mt_1 < 50) & (iso_1 < 0.15) & (iso_1 > 0.05) & (idDeepTau2018v2p5VSe_2 >= 6) & (idDeepTau2018v2p5VSmu_2 >= 4) & (((trg_singleelectron) & (pt_1 > 31) & (abs(eta_1) < 2.1)) | ((trg_singletau) & (pt_2 > 190)))"
  validation:
    tt_baseline: "(os == 1) & (idDeepTau2018v2p5VSjet_{tau_other_index} > 4) & (idDeepTau2018v2p5VSe_1 >= 2) & (idDeepTau2018v2p5VSe_2 >= 2) & (idDeepTau2018v2p5VSmu_1 >= 1) & (idDeepTau2018v2p5VSmu_2 >= 1) & (((trg_doubletau) & (pt_1 > 40) & (pt_2 > 40)) | ((trg_doubletauandjet) & (pt_1 > 35) & (pt_2 > 35) & (pt_1 <190) & (pt_2 < 190) & (jpt_1 > 60)) | ((trg_singletau) & (pt_1 > 190)) | ((trg_singletau_2) & (pt_2 > 190)))"
    mt_baseline: "(os == 0) & (mt_1 < 50) & (iso_1 < 0.5) & (iso_1 > 0.25) & (idDeepTau2018v2p5VSe_2 >= 2) & (idDeepTau2018v2p5VSmu_2 >= 4) & ((((trg_mt_cross) & (pt_1 > 21) & (pt_1 <= 26) & (abs(eta_1) < 2.1) & (pt_2 > 32) & (abs(eta_2) < 2.1)) | ((trg_singlemuon) & (pt_1 > 26) & (abs(eta_1) < 2.4))) | ((trg_singletau) & (pt_2 > 190)))"
    # TODO: waiting for ntuples to run et_baseline: "(os == 0) & (mt_1 < 50) & (iso_1 < 0.5) & (e_mva_iso_1 >= 0.99) & (idDeepTau2018v2p5VSe_2 >= 6) & (idDeepTau2018v2p5VSmu_2 >= 4) & (((trg_singleelectron) & (pt_1 > 31) & (abs(eta_1) < 2.1)) | ((trg_singletau) & (pt_2 > 190)))"


selections:
  data_iso:
    condition: "(idDeepTau2018v2p5VSjet_{tau_index} > 4) & {baseline}"

  data_aiso:
    condition: "(idDeepTau2018v2p5VSjet_{tau_index} <= 4) & (idDeepTau2018v2p5VSjet_{tau_index} >= 0) & {baseline}"

  mc_iso:
    condition: "(idDeepTau2018v2p5VSjet_{tau_index} > 4) & (wt_sf > 0.0) & (genPartFlav_{tau_index} != 0) & {baseline}"

  mc_aiso:
    condition: "(idDeepTau2018v2p5VSjet_{tau_index} <= 4) & (idDeepTau2018v2p5VSjet_{tau_index} >= 0) & (wt_sf > 0.0) & (genPartFlav_{tau_index} != 0) & {baseline}"

  mc_iso_neg:
    condition: "(idDeepTau2018v2p5VSjet_{tau_index} > 4) & (wt_sf < 0.0) & (genPartFlav_{tau_index} != 0) & {baseline}"

  mc_aiso_neg:
    condition: "(idDeepTau2018v2p5VSjet_{tau_index} <= 4) & (idDeepTau2018v2p5VSjet_{tau_index} >= 0) & (wt_sf < 0.0) & (genPartFlav_{tau_index} != 0) & {baseline}"
